# Archivos de configuración del editor
.idea/
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp

# Archivos del sistema operativo
ehthumbs.db
desktop.ini

# Archivos relacionados con caché
cache/
*.bak

# Ignorar archivos de entorno (si usás uno)
.env

.idea/
